.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-display {
    width: 92%;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  button:hover {
    background: #89c6c3;
    color: #f0f0f0 ;
    
  }
  